/*
Posicionamiento
Modelo de caja
Tipografia
Efectos Visuales
Otros
*/

:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --grey-other: #757575;
  --off-white: #faf8f7;
  --just-white: #fff;
  --gradient-header: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  align-items: center;
  height: 305px;
  background: var(--gradient-header);
}

figure > img {
  margin: 40px 0 0 0;
  width: 100%;
}

.header--container {
  height: 280px;
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  align-self: center;
  text-align: center;
}

.header--container h1 {
  margin: 30px 0 0 0;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header--container p {
  margin: 25px 0 0 0;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header--container .header--container-button {
  position: absolute;
  top: 260px;
  display: block;
  left: calc(50% - 113px);
  margin: 25px 0 0 0;
  padding: 15px;
  height: 48px;
  width: 230px;
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  text-decoration: none;
  color: var(--black);
}

.header--container-button span {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: top;
  background-image: url("../icons/keyboard_arrow_down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  height: auto;
  width: 100%;
  min-width: 320px;
  background-color: var(--off-white);
}

.main-enchange {
  height: auto;
  width: 100%;
  padding: 80px 0 30px 0;
  text-align: center;
}

.main-enchange--img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-image: url("../img/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-enchange--text {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
}

.main-enchange--text h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: var(--black);
  margin-bottom: 25px;
}

.main-enchange--text p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--grey-other);
}

.enchange-cards {
  margin: 20px 0;
  height: 350px;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.enchange-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  margin: 0 auto;
  scroll-snap-align: center;
  font-family: "Inter", sans-serif;
}

.enchange-table .enchange-table--moneyTitle {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  margin-top: 25px;
  color: var(--bitcoin-orange);
}

.enchange-table .enchange-table--container {
  height: 250px;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 10px;
}

.enchange-table--container table {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.enchange-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}

.enchange-table--container .enchange-table__top--left,
.commission-table--container .commission-table__top--left {
  border-radius: 15px 0 0 0;
}

.enchange-table--container .enchange-table__top--right,
.commission-table--container .commission-table__top--right {
  border-radius: 0 15px 0 0;
}

.enchange-table--container .enchange-table__bottom--right,
.commission-table--container .commission-table__bottom--right {
  border-radius: 0 0 15px 0;
}

.enchange-table--container .enchange-table__bottom--left,
.commission-table--container .commission-table__bottom--left {
  border-radius: 0 0 0 15px;
}

.enchange-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: var(--grey-other);
}

.table__right span {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-left: 15px;
}

.trending__ethereum {
  background-image: url("../img/trending-up.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.trending__bitcoin,
.trending__ripple,
.trending__stellar {
  background-image: url("../img/trending-down.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.enchange-table--date {
  width: 173px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: var(--soft-orange);
}

.enchange-table--date span {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}

.commission-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  margin: 0 auto;
  scroll-snap-align: center;
  font-family: "DM Sans", sans-serif;
}

.commission-table .commission-table--moneyTitle {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--secondary-blue);
}

.commission-table .commission-table--container {
  height: 250px;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 10px;
}

.commission-table--container table {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.commission-table td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--warm-black);
}

.commission-table--container .commission-table--date {
  width: 173px;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #e7f5ff;
}

.commission-table--date span {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.main-product {
  position: relative;
  height: auto;
  width: 100%;
  min-width: 320px;
  padding: 20px 10px;
  background-color: var(--black);
}

.main-product .main-product-icon {
  position: absolute;
  height: 24px;
  width: 40px;
  background-image: url("../icons/batata.svg");
  top: -10px;
  left: calc(50% - 20px);
}

.main-product .main-product-text {
  margin-top: 25px;
  text-align: center;
}

.main-product-text h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 25px;
  color: var(--just-white);
}

.main-product-text p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 23px;
  color: #808080;
}

.product-cards {
  width: 100%;
  min-width: 288px;
  max-width: 400px;
  padding: 15px;
  margin: 15px auto;
  border-radius: 4px;
  background-color: var(--warm-black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-cards .product-cards-icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-cards .clock {
  background-image: url("../icons/clock.svg");
}

.product-cards .eye {
  background-image: url("../icons/eye.svg");
}

.product-cards .dollar {
  background-image: url("../icons/dollar-sign.svg");
}

.product-cards .check {
  background-image: url("../icons/check-circle.svg");
}

.product-cards .product-cards-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
  margin-bottom: 15px;
}

.product-cards .product-cards-text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
  margin-bottom: 15px;
}

.main-image {
  text-align: center;
  width: 100%;
  height: 50vh;
  background-image: url(../img/bitcoinbaby2x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-image h2 {
  padding-top: 80px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.plans-container {
  height: auto;
  width: 100%;
  min-width: 320px;
  padding: 50px 0;
  text-align: center;
}

.plans-container .plans-title {
  padding-bottom: 30px;
}

.plans-title h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  padding-bottom: 30px;
}

.plans-title p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--grey-other);
}

.slider-card {
  height: 316px;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.slider-card .plans-card {
  position: relative;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  scroll-snap-align: center;
  margin: 30px 12px;
  padding: 15px;
  background-color: var(--just-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-card .card-recomended {
  position: absolute;
  height: 31px;
  width: 120px;
  padding: 8px;
  top: -15px;
  left: calc(50% - 60px);
  border-radius: 8px;
  background-color: var(--bitcoin-orange);
  font-size: 1.2rem;
  color: var(--just-white);
  font-weight: bold;
}

.card-content .card-title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin: 20px 0;
}

.card-price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 5.2rem;
  font-weight: bold;
}

.card-price .money {
  font-size: 1.2rem;
}

.card-description {
  margin: 15px 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--grey-other);
}

.card-button {
  height: 48px;
  width: 150px;
  background-color: #faf8f7;
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
}

.card-button span {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: text-bottom;
  background-image: url(../icons/orange-right-arrow.svg);
}

.card-button:hover {
  cursor: pointer;
}

.card-button:active {
  color: var(--just-white);
  background-color: var(--bitcoin-orange);
}

footer {
  width: 100%;
  min-width: 320px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bitcoin-orange);
}

.footer-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-section ul li {
  display: inline-block;
  padding: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.footer-section ul li a {
  text-decoration: none;
  color: var(--just-white);
}

.footer-image {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-image img {
  margin: 7px 0;
  height: 24px;
  width: 41px;
}
.footer-image span {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--just-white);
}

@media (min-width: 930px) {
  .slider-card {
    width: 920px;
    margin: 0 auto;
  }

  .product-card-cotainer {
    width: 920px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
